@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree Structure</title>
    <style>
        .tree,
        .tree ul,
        .tree li {
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
        }

        .tree {
            margin: 0 0 1em;
            text-align: center;
        }

            .tree,
            .tree ul {
                display: table;
            }

                .tree ul {
                    width: 100%;
                }

                .tree li {
                    display: table-cell;
                    padding: .5em 0;
                    vertical-align: top;
                }

                    .tree li:before {
                        outline: solid 1px #666;
                        content: "";
                        left: 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }

                    .tree li:first-child:before {
                        left: 50%;
                    }

                    .tree li:last-child:before {
                        right: 50%;
                    }

                .tree code,
                .tree span {
                    border: solid .1em #666;
                    border-radius: .2em;
                    display: inline-block;
                    margin: 0 .2em .5em;
                    padding: .2em .5em;
                    position: relative;
                }

                    .tree ul:before,
                    .tree code:before,
                    .tree span:before {
                        outline: solid 1px #666;
                        content: "";
                        height: .5em;
                        left: 50%;
                        position: absolute;
                    }

                .tree ul:before {
                    top: -.5em;
                }

                .tree code:before,
                .tree span:before {
                    top: -.55em;
                }

                .tree > li {
                    margin-top: 0;
                }

                    .tree > li:before,
                    .tree > li:after,
                    .tree > li > code:before,
                    .tree > li > span:before {
                        outline: none;
                    }

    </style>
</head>




<body>

	<div class="text-center">

		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Parent</th>
				<th>Child Count</th>
				<th>HTML Content</th>
				<th>Has Content</th>
			</tr>
			@foreach (var item in @Model.trees)
			{
				<tr>
					<th>@item.id</th>
					<th>@item.name</th>
					<th>@item.parent</th>
					<th>@item.childcount</th>
					<th>
						<a class="btn btn-primary btn-sm" href="/EditPage?id=@item.id">Edit</a>
					</th>
					
					<th><input type="checkbox" checked="@item.HasContent" id="checkbox1" runat="server" /></th>
					
				</tr>
			}
		</table>

		<a class="btn btn-primary btn-sm" href="/AddPage">Add</a>

	</div>

    <div id="tree-container">
        <!-- Tree HTML goes here, dynamically inserted by JavaScript -->
    </div>

    <script>
        // Example tree structure generated from C# code behind
        var treeHtml = `@Html.Raw(Model.TreeHtml)`;

        // Insert tree HTML into the tree container
        document.getElementById("tree-container").innerHTML = treeHtml;
    </script>



</body>